
    <main>
        {{#if hasProducts}}
            <div class="grid">
                {{#each prods}}
                <article class="card__product-item">
                    <header class="card__header">
                        <h1 class="product__title">{{ this.title }}</h1>
                    </header>
                    <div class="card__image">
                        <img src="https://st2.depositphotos.com/1105977/5461/i/600/depositphotos_54615585-stock-photo-old-books-on-wooden-table.jpg" alt="A book">
                    </div>
                    <div class="card__content">
                        <h2 class="product__price">$19.99</h2>
                        <p class="product__description">A very interesting book here on display</p>
                    </div>
                </article>
                {{/each}}
            </div>
        {{ else }}
            <h1>No products found</h1>
        {{/if}}
    </main>
</body>

</html>